.transaction-grid-outer {
    display: grid;
    grid-template-columns: 90% 10%;
    .grid-text {
        line-height: 0;
        font-size: 14px;
        white-space: nowrap;

        @media only screen and (max-width: 570px) {
            font-size: 11px;
        }

        @media only screen and (max-width: 500px) {
            font-size: 10.5px;
        }
    }

    .grid-header-text {
        line-height: 0;
        font-size: 16px;

        @media only screen and (max-width: 570px) {
            font-size: 14px;
        }
    }

    .transaction-grid-inner {
        display: grid;
        grid-template-columns: 10% 22% 22% 29% 17%;
        height: 45px;
        @media (max-width: 700px) {
            height: 38px;
        }
    }

    .transaction-grid-right {
        display: grid;
        grid-template-columns: 100%;
        height: 45px;
        @media (max-width: 700px) {
            height: 38px;
        }
    }
}

.button-holder {
    display: grid;
    grid-template-columns: 100%;
    width: 95%;
    margin: 0px 0px 2.5% 2.5%;
}
